@charset "utf-8";
body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #666666;
	background-image: url(../images/background.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.oneColFixCtrHdr #container {
	width: 780px;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left;
	background-color: #1D1D1D;
}
.oneColFixCtrHdr #header {
	background-color: #AEE000;
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
}
.oneColFixCtrHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}
.oneColFixCtrHdr #mainContent {
	background-color: #1D1D1D;
	color: #FFF;
	font-size: 12px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}
.oneColFixCtrHdr #footer {
	padding: 0 10px;
	background-color: #AEE000;
	font-size: x-small;
	text-align: center;
}
#container #mainContent h1 {
	color: #AEE000;
	text-align: center;
}


.oneColFixCtrHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	color: #000;
}
#nav {
	font-size: .9em;
	background-color: #4E4E4E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: thin;
	border-right-width: thin;
	border-top-style: solid;
	border-right-style: double;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-left-width: thin;
	border-left-style: double;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	background-image: url(../images/navbar.png);
	background-repeat: repeat-x;
}
#container #nav a {
	text-decoration: none;
	color: #CCC;
}
.fltright {
	float: right;
	margin-left: 8px;
}
.caption {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-variant: normal;
	color: #AEE000;
	font-weight: bold;
	text-align: left;
}
h3 {
	color: #AEE000;
}
a {
	color: #999;
	text-decoration: underline;
}


/* SpryMasterDetail.css */

/* Copyright (c) 2007. Adobe Systems Incorporated. All rights reserved. */

/* This is the selector for the main Master/Detail structure container. 
 *
 * If you want to constrain the width of the Master/Detail structure, set a width on
 * the Master/Detail container. By default, our structure expands horizontally to fill
 * up available space.
 */
.MasterDetail
{
	font: 100% Verdana, Geneva, sans-serif;
	margin: 2px;
}

/* This is the selector for the Master Container element which houses all the MasterColumn
 * classes. By default the Master column occupy about 35% from the width of the 
 * entire structure. 
*/
.MasterDetail .MasterContainer
{
	background-color: #000;
	border: 1px solid gray;
	width: 35%;
	float: left;
	overflow: auto;
	height: 450px;
}

/* This is the selector for a Master Column element which holds the actual data for 
 * a master column.
*/
.MasterDetail .MasterColumn
{
	font-size: 75%;
	background-color: #1D1D1D;
	padding:5px;
	cursor:pointer;
	color: #AEE000;
	text-align: center;
}

/* This is the selector for a highlighted Master Column element.
*/
.MasterDetail .MasterColumnHover
{
	background-color: #EAEAEA;
}

/* This is the selector for a selected Master Column element.
*/
.MasterDetail .MasterColumnSelected
{
	background-color:#848484;
	color: white;
}

/* This is the selector for the Detail Container element which houses all the DetailColumn
 * classes. By default the Detail column occupy about 60% from the width of the 
 * entire structure. 
*/
.MasterDetail .DetailContainer
{
	border: 1px solid gray;
	padding:10px;
	width: 60%;
	float: right;
	overflow: auto;
	text-align: center;
	color: #AEE000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-variant: normal;
}

/* This is the selector for a Detail Column element which holds the actual data for 
 * a detail column.
*/
.MasterDetail .DetailColumn
{
	margin-bottom: 1px;
	color: #FFF;
}
.fp3title {
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #AEE000;
	font-weight: bold;
	font-variant: normal;
}
.flashobj {
	text-align: center;
}
#gameCanvas {
	//width: 75%;
	text-align: center;
	background-color : black;
//lightblue;
	border-style: solid;
	border-color: yellow;
		//text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#display {
	margin-bottom: 25px;
	cursor: crosshair;
	margin-left:auto;
	margin-right: auto;
}
